<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
>
    <testsuites>
        <testsuite name="oopi">
            <directory prefix="Test" suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>